.jumbotron{
background-color: rgb(231, 231, 42);
color: black;
margin-top: 50px;
}

footer{
	
	background-color:rgb(29, 32, 29);
	margin-top:20px;
	
}

.overlay {
	background-color: white;
	opacity: 0.5;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
  }
  .bg-cover {
	background-size: cover;
	color: white;
	background-position: center center;
	position: relative;
	z-index: -2;
  }
.card-hotel {
	flex: 1 150px;
	padding: 2px 5px 2px 5px;
	margin-top: 10px;
}

.btn-reserva {
	width: 100%;
	border-radius: 0px;
}



.footer-address-icon{
	padding-right:10px ;
}
h6{
	color: white;
}